h5, ul, li {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}


ul {
    list-style:none
}

h5 {
    font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:bold;
    color:#333;
    position:relative;
    margin-bottom:20px;
    line-height:1;
}

h5 a {font-weight:inherit;}

h5 {font-size:18px;}

/* Contact
================================================== */
.contact .map {
    margin:0 auto;
    -moz-box-shadow:0 2px 8px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:0 2px 8px 0  rgba(0,0,0,0.2);
    border:1px solid #ccc;
    padding:5px;
    background:#fff;
}

.contact label {
    display:block;
    font-size:11px;
    font-weight:bold;
}

.contact input, .contact textarea {
    margin:0 0 10px 0;
    border:0;
    background:#eee;
    width:96%;
    color:#777;
    padding:2%;
}

.contact textarea {
    min-height:100px;
}

.contact .error {
    margin-bottom:10px;
    color:#f00;
    font-size:10px;
}

.contact input.error, .contact textarea.error {
    color:#777;
}

.contact .submit-button {
    display:block;
}

/* #Base 960 Grid
================================================== */

    .container                                  { position:relative; width:720px; margin:0 auto;}
    .container .column,
    .container .columns                         { float:left; display:inline; margin-left:10px; margin-right:10px; margin-bottom:30px; position:relative;}

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left:0; }
    .column.omega, .columns.omega               { margin-right:0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width:40px;  }
    .container .two.columns                     { width:100px; }
    .container .three.columns                   { width:160px; }
    .container .four.columns                    { width:220px; }
    .container .five.columns                    { width:280px; }
    .container .six.columns                     { width:340px; }
    .container .seven.columns                   { width:400px; }
    .container .eight.columns                   { width:460px; }
    .container .nine.columns                    { width:520px; }
    .container .ten.columns                     { width:580px; }
    .container .eleven.columns                  { width:640px; }
    .container .twelve.columns                  { width:700px; }


    /* Offsets */
    .container .offset-by-one                   { padding-left:60px;  }
    .container .offset-by-two                   { padding-left:120px; }
    .container .offset-by-three                 { padding-left:180px; }
    .container .offset-by-four                  { padding-left:240px; }
    .container .offset-by-five                  { padding-left:300px; }
    .container .offset-by-six                   { padding-left:360px; }
    .container .offset-by-seven                 { padding-left:420px; }
    .container .offset-by-eight                 { padding-left:480px; }
    .container .offset-by-nine                  { padding-left:540px; }
    .container .offset-by-ten                   { padding-left:600px; }
    .container .offset-by-eleven                { padding-left:660px; }

/*  #Mobile (Portrait)
================================================== */

    /* Note:Design for a width of 320px */

    @media only screen and (max-width:767px) {
        .container {width:260px;}
        .container .columns,
        .container .column {margin:0 0 20px 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns {width:260px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven {padding-left:0; }
        
        .wrapper {padding:20px 0 0 0; width:300px;}
        .header {width:260px; padding:0 20px;}
        .footer {width:300px;}

    }

/* #Mobile (Landscape)
================================================== */

    /* Note:Design for a width of 480px */

    @media only screen and (min-width:480px) and (max-width:767px) {
        .container {width:420px;}
        .container .columns,
        .container .column {margin:0 0 20px 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns {width:420px; }

        .wrapper {padding:30px 0 0 0; width:460px;}
        .header {width:420px; padding:0 20px;}
        .footer {width:460px;}
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after {content:"\0020"; display:block; height:0; clear:both; visibility:hidden; }

    
button {
    position:relative;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    font-family:'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;    
    color:#8f5c2f;
    font-size:12px;
    font-weight:bold;
    line-height:1;
    padding:8px 16px;
    text-align:center;
    background:#ffbf44;
    background:-moz-linear-gradient(0% 100% 90deg, #ffbf44, #ffd972);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffd972), to(#ffbf44));
    border:1px solid #f7ac39;
    border-bottom:5px solid #f7ac39;
    -moz-box-shadow:inset 0 0 0 1px #fce69a, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 0 1px #fce69a, 0 1px 2px 0  rgba(0,0,0,0.2);
    -webkit-background-clip:padding-box;
    height:33px;
    margin-bottom:5px;
}

button:hover {
    background:#ffd972;
    background:-moz-linear-gradient(0% 100% 90deg, #ffd972, #ffbf44);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffbf44), to(#ffd972));
}

button:active {
    border-bottom:1px solid #f7ac39;
    height:28px;
    margin-top:5px;
}

button::-moz-focus-inner {
    border:0;
    padding:0;
}
