body {
	background: #000 url(images/carpool.jpg) »  
	center center fixed no-repeat;
}

.basic_menu input:active{
    border-color: black;
}

#visitor_details {
	width:415px;
	font-family:georgia,helvtica,serif;
}

#visitor_details label {
	color:#777;
	font-size:11pt;
	display:block;
}

#visitor_details input, select {
	margin-bottom:20px;
}

#visitor_details button {
	float:right;
}

#visitor_details fieldset {
	background:#DCEEF4;
}

#dr_details {
	width:415px;
	font-family:georgia,helvtica,serif;
}

#dr_details label {
	color:#777;
	font-size:11pt;
	display:block;
}

#dr_details input, select {
	margin-bottom:20px;
}

#dr_details button {
	float:right;
}

#dr_details fieldset {
	background:#DCEEF4;
}

#pass_details {
	width:400px;
	font-family:georgia,helvtica,serif;
}

#pass_details label {
	color:#777;
	font-size:11pt;
	display:block;
}

#pass_details input, select {
	margin-bottom:20px;
}

#pass_details button {
	float:right;
}

#pass_details fieldset {
	background:#DCEEF4;
}

#provider_details {
	width:400px;
	font-family:georgia,helvtica,serif;
}

#provider_details label {
	color:#777;
	font-size:11pt;
	display:block;
}

#provider_details input, select {
	margin-bottom:20px;
}

#provider_details button {
	float:right;
}

#provider_details fieldset {
	background:#DCEEF4;
}

#details1 {
	width:400px;
	font-family:georgia,helvtica,serif;
}

#details1 label {
	color:#777;
	font-size:11pt;
	display:block;
}

#details1 input, select {
	margin-bottom:20px;
}

#details1 button {
	float:right;
}

#details1 fieldset {
	background:#DCEEF4;
}

#details2 {
	width:400px;
	font-family:georgia,helvtica,serif;
}

#details2 label {
	color:#777;
	font-size:11pt;
	display:block;
}

#details2 input, select {
	margin-bottom:20px;
}

#details2 button {
	float:right;
}

#details2 fieldset {
	background:#DCEEF4;
}

#controls1 {
  display:none;
}

#controls2 {
  display:none;
}

#details1 {
  display:none;
}

#details2 {
  display:none;
}

#sxhma {
  border:2px solid #a1a1a1;
  padding:10px 40px; 
  background:#E6E6E6;
  width:740px;
  height:698px;
  border-radius:25px;
  box-shadow: 10px 10px 20px grey;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
}

#kefalida {
  text-shadow: 3px 4px 4px #FF0000;
}

#subtitle {
  position:relative;
  -moz-animation:myfirst2 10s linear 2s infinite alternate;
  -webkit-animation:myfirst2 10s linear 2s infinite alternate;
}

@-moz-keyframes myfirst2
{
  0%   {color: #F87822;left:0px; top:0px;}
  25%   {color: red;left:0px; top:0px;}
  50%   {color: purple;left:0px; top:0px;}
  75%   {color: blue;left:0px; top:0px;}
  100% {color: black;left:0px; top:0px;}
}

@-webkit-keyframes myfirst2
{
  0%   {color: #F87822;left:0px; top:0px;}
  25%   {color: red;left:0px; top:0px;}
  50%   {color: purple;left:0px; top:0px;}
  75%   {color: blue;left:0px; top:0px;}
  100% {color: black;left:0px; top:0px;}
}

#like
{
  position: absolute;
}

#sxhma2 {
  border:2px #a1a1a1;
  padding:10px 20px; 
  background:#E6E6E6;
  width:557px;
  height:270px;
  border-radius:25px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
}

a.option1 {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #005CE6;
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 1.7em;
    padding: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 3px 0px white, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 3px 0px white, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 3px 0px white, 0px 9px 25px rgba(0,0,0,.7);
	width: 200px;
	text-align: center;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a.option2 {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: red;
    font-family: 'Yanone Kaffeesatz';
    font-weight: bold;
    font-size: 1.7em;
    padding: 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 3px 0px white, 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 3px 0px white, 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 3px 0px white, 0px 9px 25px rgba(0,0,0,.7);
	width: 170px;
	text-align: center;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a.option1:active {
    -webkit-box-shadow: 0px 2px 0px #0066FF, 0px 3px 6px gold;
    -moz-box-shadow: 0px 2px 0px #0066FF, 0px 3px 6px gold;
    box-shadow: 0px 2px 0px #0066FF, 0px 3px 6px gold;
    position: relative;
    top: 4px;
}

a.option2:active {
    -webkit-box-shadow: 0px 2px 0px red, 0px 3px 6px gold;
    -moz-box-shadow: 0px 2px 0px red, 0px 3px 6px gold;
    box-shadow: 0px 2px 0px red, 0px 3px 6px gold;
    position: relative;
    top: 4px;
}

a.login {
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgba(219,87,5,1);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 600;
    font-size: 1.5em;
    padding: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
	width: 180px;
	
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a.login:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	position: relative;
    top: 4px;
}
